<%= form_with(model: hour, local: true) do |form| %>
  <% if hour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hour.errors.count, "error") %> prohibited this hour from being saved:</h2>

      <ul>
        <% hour.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

    <div class="field">
    <%= form.label :group %>
    <%= form.select(:group_id, @group_options, { include_blank: true }) %>
  </div>
  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
