<body class="bg-light">
<h1>Hours</h1>
<% @hours.each do |hour| %>
<div class="media pt-2 pb-2 text-muted bg-white">
    <img src="<%=(url_for(hour.group.icon))%>" alt="" class="ml-2 mr-2 rounded" width="50" height="50"/>
    <p class="lh-125 mb-0 media-body pb-3 small"> <strong class="d-block text-gray-dark"><%= hour.name %> <strong class="float-right mr-2"><%= hour.amount %>hrs</strong></strong> <%= hour.created_at %></p>
</div>
<br>
<% end %>
<%= link_to 'New Hour', new_hour_path %>
</body>