<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
    <%= form.label 'Profile Photo' %>
    <%= form.file_field :icon, class:"border-bottom pt-2 pb-2" %><br>
    <%= form.text_field :name, placeholder:"name", class: "border-0 pt-2 pb-2" %>
  </div>

  <div class="actions text-center">
    <%= form.submit%><br><br>
    <%= link_to 'Back', groups_path%>
  </div>
<% end %>
