<div class="text-center">
<%= image_tag("clock1.png", :alt => "rss feed", :width => "72",  :height => "72") %>
<h1>Times</h1>
<br>
<% if signed_in? %>
<%= link_to "Sign out", signout_path%><br>
<%= link_to 'My Profile', current_user%>
<% else %>
<%= link_to 'LOG IN', '/signin', class: "btn btn-lg btn-primary btn-block" %>
<%= link_to 'SIGN UP', '/signup', class: "btn btn-lg btn-block" %>
<% end %>
</div>
