<div class="text-center">
<img src="<%=(url_for(@user.avatar))%>" class="ml-2 mr-2 mb-3 rounded-circle" width="80" height="80"/>
<br>
<h4 class="mb-3 text-white">
  <%= @user.name %>
</h4>

<%= link_to 'All my hours', hours_path, class: "d-block pt-3 pb-3 text-white" %>
<%= link_to 'All my  external hours', '/external', class: "d-block pt-3 pb-3 border-top border-gray text-white" %>
<%= link_to 'All groups', groups_path, class: "d-block pt-3 pb-3 border-top border-gray text-white"%> 
<%= link_to "Sign out", signout_path, class: "d-block pt-3 pb-3 border-top border-gray text-white" %>
</div>
